{$DOMAIN} {
  encode zstd gzip
  reverse_proxy backend:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=(self)"
    -Server
  }
}
